<!doctype html>
<html>
<head>
<title>Fight!</title>
<meta charset="UTF-8">
<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>


</head>
<body>
    <canvas width="1396" height="782" id="battlefield"></canvas>
    <script>
    var customRobots = {{{robots}}};
    var numAggressors = {{{numAggressors}}};
    var numAvoiders = {{{numAvoiders}}};
    var numWanderers = {{{numWanderers}}};
    </script>
    <script src="bundle.js"></script>
</body>
</html>
